:root {
  --primary-color: #fff;
  --primary-label: #000;
  --secondary-label: #fff;
  --white-ball: #fff;
  --black-ball: #000;
  --background: #f8f7f4;
  --dark-color: #1b1b1b;
  --active-color: #f7d71e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--background);
}

.container {
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 60rem;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.header {
  background-color: var(--dark-color);
  color: var(--background);
  padding: 3rem 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.input-text {
  border: 0;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  width: 100%;
  outline: none;
  background-color: var(--background);
}

.user-list {
  background-color: var(--background);
  list-style-type: none;
  padding: 0;
  max-height: 40rem;
  overflow-y: auto;
  border: 2px solid var(--dark-color);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.input-text::placeholder {
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.6rem;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: "Loading ...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

/* JAVASCRIPT */
.user-list li {
  display: flex;
  padding: 2rem;
}

.user-list img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}

.user-list .user-info h4 {
  margin: 5px 0 10px;
  font-size: 1.6rem;
}

.user-list .user-info p {
  font-size: 12px;
}

.user-list li:not(:last-of-type) {
  border-bottom: 1px solid #9d9d9d;
}

.user-list li.hide {
  display: none;
}

/* Button Tooggler */
.color-toggler {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

#switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

.color-toggler label {
  display: block;
  width: 10rem;
  height: 5rem;
  background-color: var(--dark-color);
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.color-toggler label::after {
  content: "";
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--background);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#switch:checked + label::after {
  background-color: var(--dark-color);
  left: calc(21% - 5px);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

#switch:checked + label {
  background-color: var(--background);
}
