* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191825;
  width: 100%;
  height: 100%;
  gap: 8rem;
  padding: 0 3rem;
}

.card {
  width: 20rem;
  height: 20rem;
  color: #fff;
  border: 1px solid #f7df1e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  padding: 12rem;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.card:active {
  transform: scale(0.9) translateY(5px);
  -webkit-transform: scale(0.9) translateY(5px);
  -moz-transform: scale(0.9) translateY(5px);
  -ms-transform: scale(0.9) translateY(5px);
  -o-transform: scale(0.9) translateY(5px);
}

.followers {
  font-size: 4.8rem;
}

.icon {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  color: #f7df1e;
}

.card span {
  color: #feeceb;
}
