@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #f7d71e;
  --grey: #eee;
  --dark-grey: #191825;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-grey);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
/* HEADER */
/* HEADER */
header {
  width: 100%;
  background-color: var(--dark-grey);
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 4.5rem;
  color: var(--color-sec);
}

.img-logo {
  padding-top: 1.5rem;
  width: 9rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  list-style: none;
  margin: 0 1.5rem;
}

.nav-list li a {
  color: var(--color-sec);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

/* Section */
section {
  padding: 5rem 2rem;
}

.box {
  border: 1px solid var(--dark-grey);
  background-color: var(--color-sec);
  border-radius: 1rem;
  padding: 2rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

h2 {
  color: var(--dark-grey);
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1.2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.flex img {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  border: 3px solid var(--dark-grey);
  /* width: 25rem; */
}

.flex > * {
  margin: 3px;
}
