* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12rem;
  background-color: #f7df1e;
  transition: all 0.3s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.button {
  padding: 1.2rem 2.4rem;
  background-color: #191825;
  color: #f7d71e;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.mk-logo {
  width: 100px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.dark-button {
  background-color: #f7d71e;
  color: #191825;
}

.dark-background {
  background-color: #191825;
  color: #f7d71e;
}
