* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #191825;
  color: #191825;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  width: 40rem;
  background-color: #f7d71e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.8rem;
  padding: 2.4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.primary-heading {
  font-size: 3rem;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.form-input {
  width: 70%;
  font-size: 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  padding: 1.2rem 0;
  background-color: #191825;
  color: #f7d71e;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.button {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  background-color: transparent;
  color: #191825;
  font-weight: 600;
  outline: none;
  border: 3px solid #191825;
  cursor: pointer;
}
