* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #191825;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  padding: 1.2rem 2.4rem;
  /* width: 40%;
  height: 30%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.6rem;
  background-color: transparent;
}

.counter {
  font-size: 24rem;
  font-weight: 700;
  color: cyan;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  font-size: 2.4rem;
}

.btn {
  font-size: 2.4rem;
  padding: 2.4rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid cyan;
  background-color: transparent;
  color: cyan;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn:hover {
  scale: 1.15;
}

.btn:active {
  background-color: cyan;
  color: #191825;
}

.footer {
  width: 100%;
}

.mk-link {
  padding: 2.4rem;
  border-radius: 1rem;
  position: fixed;
  bottom: 4rem;
  cursor: pointer;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.mk-logo {
  width: 100px;
}
