* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #191825;
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

h1 {
  font-size: 5.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
}

button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  letter-spacing: 1.2px;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
}
